<li class="active"><a href="index.html/#">Home</a></li>
                <li><a href="index.html/#meetup">Events</a></li>
                <li><a href="index.html#contact">Contact</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown" id="menu1">
                  <a href="#menu1" class="dropdown-toggle" data-toggle="dropdown">
                    Resources 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ site.brigade.github }}">
                        <i class=icon-wrench icon-white></i> 
                        Our Code on GitHub</a>
                    </li>
                    <li>
                      <a href="{{ site.brigade.meetup-link }}">
                        <i class=icon-wrench icon-white></i> 
                        Our Meetup Group</a>
                    </li>
                    <li>
                      <a href="{{site.brigade.idea-list}}">
                      <i class=icon-thumbs-up icon-white></i> 
                      Idea List for Civic Apps/Open Data/Other Projects</a>
                    </li>
                    <li>
                      <a href="http://www.summitwiki.org" target="_blank">
                      <i class=icon-retweet icon-white></i> 
                      Check out SummitWiki</a>
                    </li>
                    <li>
                      <a href="{{ site.brigade.google-group }}">
                      <i class=icon-comment icon-white></i> 
                      Our Google Community</a>
                    </li>
                    
                    <li class="divider"></li>
                    
                    <li>
                      <a href="https://twitter.com/search?q=%23cfabrigade">
                      <i class=icon-retweet icon-white></i> 
                      #cfabrigade - National Tweets</a>
                    </li>
                    <li>
                      <a href="https://twitter.com/search?q=%23hackNEO">
                      <i class=icon-retweet icon-white></i> 
                      #hackNEO - hackNEO tweets</a>
                    </li>
                  </ul>
                </li>